[flake8]
max-line-length=127
# Black intentionally violates following Flake8's conventions, because https://black.readthedocs.io/en/stable/faq.html#why-are-flake8-s-e203-and-w503-violated
ignore=E203,W503